* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60vw;
    margin: 0 auto;
}

.top{
    padding: 10px;
    background-color: black;
    color: white;
}

.feed{
    display: flex;
    justify-content: center;

}

#feed-title{
    text-align: center;
    margin: 10px;
}
.col {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.col-2{
    flex: 1;
}
.card {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#user{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.name{
    font-size: large;
    font-weight: bold;
}
.icon {
    height: 100px;
}

.card-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.like{
    background-color: gold;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    padding: 5px;
}